.main {
    background-color: lightgray;
    position: absolute;
    width: 100%;
    font-size: 2vh;
    top: 0;
    align-items: center;
    box-shadow: 0px 0px 5px 2px gray;
}

.left_txt,
.right_txt {
    padding-top: 1rem;
}

.left_txt {
    float: left;
    margin-left: 1rem;
    align-items: center;
}

.right_txt {
    float: right;
    margin-right: 1rem;
}
