.top_box {
    background-color: orchid;
    color: black;
    position: absolute;
    max-height: 30%;
    top: 5%;
    right: 54%;
    width: 45%;
    border: 2px solid rgb(157, 154, 154);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.top_left_box {
    /* background-color: red; */
    color: white;
    position: absolute;
    min-height: 20%;
    height: 20vh;
    width: 45%;
    /* border: 2px solid rgb(157, 154, 154); */
    top: 37.5%;
    right: 54%;
    text-align: center;
}

.mid_left_box {
    background-color: blue;
    display: block;
    color: white;
    position: absolute;
    min-height: 20%;
    width: 45%;
    /* border: 2px solid rgb(157, 154, 154); */
    top: 65%;
    right: 54%;
    text-align: center;
}

.top_right_box{
    text-align: center;
    justify-content: center;
    background-color: green;
    color: white;
    position: absolute;
    min-height: 25%;
    height: 65vh;
    width: 50%;
    overflow: auto;
    border: 2px solid rgb(157, 154, 154);
    top: 5%;
    right: 1%;
    font-size: 14px;
    font-size: 2vh;
    display: flex;
    flex-wrap: wrap;
}

.bottom_left_box {
    background-color: purple;
    color: white;
    position: absolute;
    min-height: 5%;
    width: 5%;
    border: 2px solid rgb(157, 154, 154);
    top: 90%;
    right: 54%;
}

.bottom_right_box {
    background-color: purple;
    color: white;
    position: absolute;
    min-height: 5%;
    width: 5%;
    border: 2px solid rgb(157, 154, 154);
    top: 90%;
    right: 41%;
}

.top_left_box_content_pic {
    display: inline;
    width: 50%;
    color: black;
    float:left;
    min-height: 5%;
    height: 10.75vh;
}

.top_left_box_content_desc {
    display: inline;
    color: black;
    background-color: yellow;
    width: 50%;
    float: right;
    height: 12.5vh;
    overflow: auto;
    font-size: 1vh;
}

.round {
    border-radius: 50%;
}